.container {
  width: 100%;
}

.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: auto;
}

header {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 15px;
  box-shadow: 0px 0px 10px -1px #00000094;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}
header h1 {
  float: left;
}
header h1 a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 3px;
}
header nav {
  float: right;
}
header nav li {
  display: inline-block;
}
header nav li a {
  box-sizing: border-box;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 3px;
  transition: background-color 3s linear;
}
header a:hover {
  background-color: #ccc;
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
}
.banner h2 {
  font-size: 30px;
  letter-spacing: 10px;
  color: #736f6f;
  text-transform: capitalize;
  position: absolute;
  bottom: 25px;
  left: 20px;
}

.about {
  border-bottom: 1px solid #eee;
  padding: 80px 0;
}
.about img {
  width: 47%;
  margin-right: 40px;
  opacity: 0.7;
}
.about .about-catering {
  display: inline-block;
  width: 47%;
  vertical-align: top;
}
.about .about-catering h2 {
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-align: center;
  padding: 10px 0 50px;
}
.about .about-catering p:first-of-type {
  text-align: center;
  font-size: 18px;
  letter-spacing: 3px;
  margin: 20px 0;
}
.about .about-catering p + p {
  font-size: 18px;
  padding-bottom: 20px;
  line-height: 25px;
}
.about .about-catering p + p span {
  background-color: #f1f1f1;
  padding: 5px;
}
.about .about-catering p + p + p {
  color: #757575;
}

.menu {
  padding: 80px 0;
  border-bottom: 1px solid #eee;
}
.menu .menu-info {
  margin-right: 40px;
  display: inline-block;
  width: 47%;
  vertical-align: top;
}
.menu .menu-info h2 {
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-align: center;
  padding: 10px 0 50px;
}
.menu .menu-info p:nth-child(even) {
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.menu .menu-info p:nth-child(odd) {
  color: #757575;
  margin: 15px 0;
  padding-bottom: 30px;
}
.menu img {
  width: 47%;
  opacity: 0.7;
}

.contact {
  padding: 80px 0;
}
.contact h2 {
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-align: center;
  padding: 10px 0 50px;
  text-align: left;
}
.contact p {
  margin: 15px 0;
}
.contact p + p {
  color: #607d8b;
  font-weight: 600;
  font-size: 17px;
}
.contact p + p + p {
  color: #000;
  font-weight: 500;
  font-size: 16px;
}
.contact input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 16px 8px;
  margin-bottom: 20px;
  font-size: 16px;
}
.contact input::placeholder {
  color: #ccc;
}
.contact button {
  color: #000;
  background-color: #f1f1f1;
  border: none;
  padding: 8px 16px;
  text-transform: uppercase;
  transition: background-color 3s linear;
}
.contact button:hover {
  background-color: #000;
  color: #fff;
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 30px 0;
}
footer a {
  color: #000;
}

/*# sourceMappingURL=style.css.map */
